<%# <h1>Patients#index</h1>
<p>Find me in app/views/patients/index.html.erb</p>
<h2>Hola coma estas </h2> %>


<h1>Patients</h1>
<%= link_to "Add Patient", new_patient_path%>
<br/>
<h2> <%= @patients.length <= 0 ? "No Patients" : "" %></h2>

<ul>
  <%@patients.each do |patient|%>
    <li>
      <%= link_to patient.first_name, patient_path(patient)%>

    </li>
  <%end%>
</ul>