<nav>
  <ul>
    <li>
      <%= link_to 'Patients', patients_path %>
    </li>
    <li>
      <%= link_to 'Add Patient', new_patient_path %>
    </li>
    <li>
      <%= link_to 'Physicians', physicians_path %>
    </li>
    <li>
      <%= link_to 'Add Physician', new_physician_path %>
    </li>
  </ul>
</nav>